body {
   padding-top: 70px;
   font-family: "Figtree", sans-serif;
   font-size: 18px;
}

.navbar-name:hover {
  background-image: linear-gradient(90deg, #00FF1E, #00FF99, #00D9FF);
  color: transparent;
  background-clip: text;
}

.navbar-custom {
  background-color: #630c1fff;
}

.tdi-teal {
  color: #43B6B1;
}

.nav-border {
  border: solid;
  border-image: linear-gradient(90deg, #00FF99, #00D9FF 30%, #5E00FF 60%, #A100FF 75%, #DD00FF 100%) 1 / 2px;
  border-image-width: 0 0 2px 0;
}

.footer-border {
  border: solid;
  border-image: linear-gradient(270deg, #00FF99, #00D9FF 30%, #5E00FF 60%, #A100FF 75%, #DD00FF 100%) 1 / 2px;
  border-image-width: 2px 0 0 0;
}
