{% macro Header(active=None) %}
<nav class="navbar navbar-expand-md fixed-top bg-dark-subtle nav-border" data-bs-theme="dark">
  <div class="container-fluid ms-3 me-3">
    <a class="navbar-brand navbar-name" href="{{url_for('home')}}">
      <img src="/static/images/logo_v3_inverted.png" alt="Logo" width="30" class="me-2"></img>
      Megan Nissel
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {{ NavElement(url_for('home'), "Home", 'home', active) }}
        {{ NavElement(url_for('resume'), "Resume", 'resume', active) }}
        {{ NavElementIcon("https://github.com/megannissel", "GitHub", 'github') }}
        {{ NavElementIcon("https://www.linkedin.com/in/megan-nissel/", "LinkedIn", 'linkedin') }}
      </ul>
    </div>


  </div>
</nav>
{% endmacro %}

{% macro NavElement(link, copy, page, active) %}
<li class="nav-item">
  <a class="nav-link {% if active==page %}active{% endif %}" {% if active==page %}aria-current="page"{% endif %} href="{{link}}">{{copy}}</a>
</li>
{% endmacro %}

{% macro NavElementIcon(link, copy, icon) %}
<li class="nav-item">
  <a class="nav-link" href="{{link}}" target="_blank"><i class="d-none d-md-block bi bi-{{icon}}" alt="{{copy}}"></i><span class="d-md-none">{{copy}}</span></a>
</li>
{% endmacro %}
