{% extends "base.html" %}
{% import 'header.html' as header %}

{% block title %}Home{% endblock %}

{% block body %}
{{ header.Header('home') }}
<div class="container">
  <div class="row align-items-center justify-content-between mt-5">
    <div class="col-6">
      <h1>Hello! Welcome!</h1>
      <p>I'm Megan. I'm a Python developer with {{years}}+ years of experience building and maintaining website infrastructure&mdash;backend, frontend, database, and testing.</p>
    </div>
    <div class="col-6">
      <img src="/static/images/headshot_scaled.png" class="img-fluid rounded float-end" alt="headshot"></img>
    </div>
  </div>
  </div>
</div>
{% endblock %}
